<div class="container">
  <ul class="nav nav-tabs">

    <li class="nav-item">
      <a class="nav-link" routerLink="/pie-chart">ค่าสัมประสิทธิ์การตัดสินใจ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/line-chart">AAPL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/lineAMZN-chart">AMZN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/lineGOOGL-chart">GOOGL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/lineAMD-chart">AMD</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/lineFB-chart">FB</a>
    </li>
  </ul>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>


